version: '3'
networks:
  login:
    ipam:
      config:
        - subnet: 172.20.0.0/24
services:
   tools:
     build: 
       context: ./tools
       dockerfile: Dockerfile-tools
     networks:
        login:
          ipv4_address: "172.20.0.230"
     volumes:
       - ./tools:/data/
   keycloak:
     image: jboss/keycloak:10.0.2
     environment:
       - KEYCLOAK_USER=sd
       - KEYCLOAK_PASSWORD=Test1234
#       - KEYCLOAK_LOGLEVEL=DEBUG
       - KEYCLOAK_IMPORT=/tmp/test-realm.json
     volumes:
       - ./realms/test-realm.json:/tmp/test-realm.json
       - ./theme/standalone.xml:/opt/jboss/keycloak/standalone/configuration/standalone.xml
       - ./theme/keycloak101:/opt/jboss/keycloak/themes/keycloak101
     ports:
      - "5005:5005"
      - "8080:8080"
     networks:
        login:
          ipv4_address: "172.20.0.200"
#     command: "--debug *:5005"
